@font-face {
  font-family: 'Hanyi';
  src: local('Hanyi'), url(./fonts/HanyiSentyTang.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: local('Lato'), url(./fonts/Lato-Light.ttf) format('truetype');
  font-weight: lighter;
}

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
